@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 32px;
}

div {
    display: block;
}

p {
    line-height: 1.625;
    display: block;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 300ms ease;
}

i {
    font-size: 24px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.purple {
    color: #6415ff;
}

.purple_box {
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 12px 32px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.025em;
}

.nav_links {
    font-weight: 600;
    font-size: 14px;
}

.nav_link {
    margin: 0 24px;
    color: #243e63;
}

.nav_link:hover:not(:last-child) {
    text-decoration: 2px underline;
    color: #6415ff;
    transition: all ease;
    tab-size: 4;
    text-underline-offset: 6px;
}

.nav_link-login {
    margin-left: 48px;
}

.nav_link-btn {
    margin: 0;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.nav_link-btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.nav_link-img {
    width: 40px;
    margin-right: 12px;
}

.nav_logo-link {
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
    padding: 0 0 4px 0;
    display: flex;
    align-items: center;
    color: #243e63;
}

/* LANDING */

.header_container-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.header_container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.header_description-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header_description-right {
    width: 60%;
}

.description_right-img {
    width: 100%;
}

.header_description-h1 {
    font-size: 48px;
    font-weight: 700;
}

.header_description-para { 
    margin: 32px 0;
}

.header_description-input {
    display: flex;
    width: 85%;
    margin-right: auto;
}

.input_email {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 9999px;
    border-width: 1px;
    width: 100%;
    font-weight: 500;
    font-size: 100%;
}

.input_email:hover {
    --tw-border-opacity: 1;
    border-color: rgba(160,174,192,var(--tw-border-opacity));
    transition: all 300ms ease;
}

.input_email:active {
    border: 2px solid #6415ff;
    transition: all 300ms ease;
}

.input_btn {
    font-weight: 500;
    font-size: 100%;
    margin: 8px 0;
    margin-left: -160px;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.input_btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.header_description-customers {
    margin: 80px 0 0 0;
    font-size: 12px;
}

.customers_logo {
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.customers_text {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}

/* FEATURES */

.features_container {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.features_h5 {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.features_h2 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 16px;
    text-align: center;
}

.features_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.features_list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.service_container {
    padding: 32px 8px;
    display: flex;
    width: calc(100%/3);
}

.service_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0 0 16px;
}

.service_img {
    font-size: 24px;
    padding: 1.25rem;
    height: 66px;
    width: 66px;
    border-radius: 9999%;
    border: 1px solid lightgray;
    flex-shrink: 0;
    color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 16px;
    width: 80%;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

/* QUALITY WORK*/

.quality_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.quality_left {
    margin-top: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality_right {
    width: 50%;
}

.quality_img {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.quality_h5 {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.quality_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.learn_button {
    font-weight: 700;
    font-size: 14px;
    width: 25%;
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
    display: inline-block;
}

.purple_box:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

/* STEPS */

.steps_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
}

.steps_list {
    margin-top: 48px;
}

.steps_img {
    width: 100%;
}

.steps_right,
.steps_left {
    width: 50%;
}

.steps_right {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.step_list {
    display: flex;
    margin-top: 32px;
}

.step_description {
    margin-left: 1.5rem;
}

.step_number {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

.step_title {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.step_para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    font-weight: 500;
}

/* VALUES */

.values_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.values_left {
    margin-top: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values_right {
    width: 50%;
}

.values_img {
    width: 100%;
}

.values_h5 {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.values_h2 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 32px;
}

.values_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.icon_first-wrapper {
    --tw-bg-opacity: 1;
    background-color: rgba(154,230,180,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(39,103,73,var(--tw-text-opacity));
}

.icon_second-wrapper {
    --tw-bg-opacity: 1;
    background-color: rgba(254,178,178,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(155,44,44,var(--tw-text-opacity));
}

.icon-wrapper {
    display: inline-block;
    --tw-border-opacity: 1;
    border-color: rgba(100,21,255,var(--tw-border-opacity));
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 0px;
}

.values_two-columns {
    display: flex;
}

.column_title {
    display: flex;
    align-items: center;
}

.column_upper {
    margin-left: 12px;
}

.values_column {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.column_upper {
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.column_description {
    margin-top: 1rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    line-height: 1.625;
}

.values_button {
    margin-top: 48px;
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
}

.values_button:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

/* PRICING */

.pricing_choices {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pricing_choice {
    margin-right: 32px;
    width: 100%;
    max-width: 24rem;
    margin-top: 64px;
    padding: 8px 32px 0 32px;
    border: 1px solid #CBD5E0;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.pricing_choice-left {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 8px solid rgba(56, 178, 172, 0.55);
}

.pricing_choice-middle {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing_choice-right {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 8px solid rgba(254, 178, 178, 1);
}

.choice_top {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.625;
    padding-top: 32px;
    padding-bottom: 32px;
}

.choice_top-title {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.choice_price {
    display: block;
    margin: 4px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
    width: 100%;
    letter-spacing: 0.025em;
}

.rate {
    width: 100%;
    max-width: 36rem;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #A0AEC0;
}

.choice_middle {
    display: flex;
    flex-direction: column;
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;
    border-top: 1px solid #CBD5E0;
    border-bottom: 1px solid #CBD5E0;
    flex: 1 1 0%;
}

.choice_middle-title {
    display: block;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.choice_middle-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #718096;
}

.choice_bottom {
    padding: 32px 64px;
}

.buy_top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy_middle {
    background-color: white;
    color: #6415FF;
}

.buy_bottom {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing_buy {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 16px 32px;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
}

.choice_top-middle, 
.choice_price-middle, 
.rate_middle, 
.middle_title, 
.middle_para {
    color: white !important;
}    


/* TESTIMONIALS */

.testimonials_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonials_img {
    width: 50%;
}

.testimonials_container-right {
    padding-left: 64px;
}

.stars {
    display: flex;
    margin-top: 40px;
}

.star {
    font-size: 18px;
    margin-right: 4px;
    --tw-text-opacity: 1;
    color: rgba(246,173,85,var(--tw-text-opacity));
}

.test__description--comment {
    margin-top: 16px;
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.test__review {
    margin-bottom: 40px;
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(74,85,104,var(--tw-text-opacity));
}

.test__people {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test__person {
    display: flex;
}

.person {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    vertical-align: middle;
}

.test__person--name {
    text-align: left;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person__name {
    font-size: 20px;
    color: #243E63;
}

.person__title {
    padding: 0;
    margin: 0;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
}

.test__people--arrows {
    display: flex;
    height: 100%;
}

.left__arrow--button, 
.right__arrow--button {
    margin-left: 12px;
    margin-right: 12px;
    padding: 16px;
    border-radius: 9999px;
    background-color: #d6e3f7;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__arrow--img,
.right__arrow--img {
    height: 16px;
    width: 16px;
}

.divider {
    margin-top: 12px;
    margin-bottom: 12px;
    border-right: 1px solid #7C8BA1;
}





@media (min-width: 1024px) {
    .quality_left {
        margin-right: 4rem;
    }

    .steps_right {
        margin-left: 4rem;
    }

    .pricing_container {
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 768px) {
    .header_container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .values_column {
        align-items: flex-start;
        margin-right: 2rem;
    }
}

@media (min-width: 640px) {
    .header_description-input input {
        padding-right: 12rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}