@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 32px;
}

div {
    display: block;
}

p {
    line-height: 1.625;
    display: block;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 300ms ease;
}

i {
    font-size: 24px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.purple {
    color: #6415ff;
}

.purple_box {
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 12px 32px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.025em;
}

.nav_links {
    font-weight: 600;
    font-size: 14px;
}

.nav_link {
    margin: 0 24px;
    color: #243e63;
    text-decoration: 2px underline transparent;
    transition: all 300ms ease;
    text-underline-offset: 6px;
}

.nav_link:hover:not(:last-child) {
    text-decoration: 2px underline;
    color: #6415ff;
    transition: all 300ms ease;
    tab-size: 4;
    text-underline-offset: 6px;
}

.nav_link-login {
    margin-left: 48px;
}

.nav_link-btn {
    margin: 0;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.nav_link-btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.nav_link-img {
    width: 40px;
    margin-right: 12px;
}

.nav_logo-link {
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
    padding: 0 0 4px 0;
    display: flex;
    align-items: center;
    color: #243e63;
}

.nav_logo-link:hover {
    color: #6415ff;
    transition: color 300ms ease;
}

.btn_menu {
    background-color: transparent;
    color: #6415ff;
    font-size: 40px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    display: none;
}

.menu_backdrop {
    border: 0 solid #e5e7eb;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 1.5rem 1rem;
    padding: 2rem;
    border-width: 1px;
    text-align: center;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26,32,44,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu-open .menu_backdrop {
    visibility: visible;
    opacity: 1;
}

.menu_backdrop-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.menu_list {
    transition-property: color, fill, stroke;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    transition-duration: 300ms;
    padding: 10px 0;
    border-bottom-width: 2px;
    border-color: transparent;
}

.menu_link {
    color: #243e63;
    text-decoration: 2px underline transparent;
    transition: all 300ms ease;
    text-underline-offset: 6px;
}

.menu_link:hover {
    text-decoration: 2px underline;
    color: #6415ff;
    transition: all 300ms ease;
    tab-size: 4;
    text-underline-offset: 6px;
}

.menu_list-login {
    margin-bottom: 24px;
}

.btn_menu-close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

/* LANDING */

.header_container-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.header_container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.header_description-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header_description-right {
    width: 60%;
}

.description_right-img {
    width: 100%;
}

.header_description-h1 {
    font-size: 48px;
    font-weight: 700;
}

.header_description-para { 
    font-size: 18px;
    margin: 32px 0;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
}

.header_description-input {
    display: flex;
    width: 85%;
    margin-right: auto;
}

::placeholder { 
    color: lightgray;
}

.input_email {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    font-size: 100%;
}

.input_email:hover {
    --tw-border-opacity: 1;
    border-color: rgba(160,174,192,var(--tw-border-opacity));
    transition: all 300ms ease;
}

.input_email:focus {
    border: 1px solid rgba(160,174,192,var(--tw-border-opacity));
    box-shadow: 0 0 3px rgba(160,174,192,var(--tw-border-opacity));
    outline-offset: 0px;
    outline: none;
}

.input_email:focus:not(:hover) {
    border: 1px solid #6415FF;
    box-shadow: 0 0 3px #6415FF;
    outline-offset: 0px;
    outline: none;
}

.input_btn {
    font-weight: 500;
    font-size: 100%;
    margin: 8px 0;
    margin-left: -160px;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.input_btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.header_description-customers {
    margin: 80px 0 0 0;
    font-size: 12px;
}

.customers_logo {
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.customers_text {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}

/* FEATURES */

.features_container {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.features_h5 {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.features_h2 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 16px;
    text-align: center;
}

.features_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.features_list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.service_container {
    padding: 32px 8px;
    display: flex;
    width: calc(100%/3);
}

.service_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0 0 16px;
}

.service_img {
    font-size: 24px;
    padding: 1.25rem;
    height: 66px;
    width: 66px;
    border-radius: 9999%;
    border: 1px solid lightgray;
    flex-shrink: 0;
    color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 16px;
    width: 80%;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

/* QUALITY WORK*/

.quality_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.quality_left {
    margin-top: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality_right {
    width: 50%;
}

.quality_img {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.quality_h5 {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.quality_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.learn_button {
    font-weight: 700;
    font-size: 14px;
    width: 25%;
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
    display: inline-block;
}

.purple_box:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

/* STEPS */

.steps_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
}

.steps_list {
    margin-top: 48px;
}

.steps_img {
    width: 100%;
}

.steps_right,
.steps_left {
    width: 50%;
}

.steps_right {
    padding-bottom: 2rem;
}

.step_list {
    display: flex;
    margin-top: 32px;
}

.step_description {
    margin-left: 1.5rem;
}

.step_number {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

.step_title {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.step_para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    font-weight: 500;
}

/* VALUES */

.values_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.values_left {
    margin-top: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values_right {
    width: 50%;
}

.values_img {
    width: 100%;
}

.values_h5 {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.values_h2 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 32px;
}

.values_para {
    font-size: 18px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.icon_first-wrapper {
    --tw-bg-opacity: 1;
    background-color: rgba(154,230,180,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(39,103,73,var(--tw-text-opacity));
}

.icon_second-wrapper {
    --tw-bg-opacity: 1;
    background-color: rgba(254,178,178,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(155,44,44,var(--tw-text-opacity));
}

.icon-wrapper {
    display: inline-block;
    --tw-border-opacity: 1;
    border-color: rgba(100,21,255,var(--tw-border-opacity));
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 0px;
}

.values_two-columns {
    display: flex;
}

.column_title {
    display: flex;
    align-items: center;
}

.column_upper {
    margin-left: 12px;
}

.values_column {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.column_upper {
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.column_description {
    margin-top: 1rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    line-height: 1.625;
}

.values_button {
    margin-top: 48px;
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
}

.values_button:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

/* PRICING */

.pricing_container {
    padding: 80px 0;
}

.pricing_choices {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pricing_choice {
    margin-right: 32px;
    width: 100%;
    max-width: 24rem;
    margin-top: 64px;
    padding: 8px 32px 0 32px;
    border: 1px solid #CBD5E0;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.pricing_choice-left {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 8px solid rgba(56, 178, 172, 0.55);
}

.pricing_choice-middle {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing_choice-right {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 8px solid rgba(254, 178, 178, 1);
}

.choice_top {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.625;
    padding-top: 32px;
    padding-bottom: 32px;
}

.choice_top-title {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.choice_price {
    display: block;
    margin: 4px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
    width: 100%;
    letter-spacing: 0.025em;
}

.rate {
    width: 100%;
    max-width: 36rem;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #A0AEC0;
}

.choice_middle {
    display: flex;
    flex-direction: column;
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;
    border-top: 1px solid #CBD5E0;
    border-bottom: 1px solid #CBD5E0;
    flex: 1 1 0%;
}

.choice_middle-title {
    display: block;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.choice_middle-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #718096;
}

.choice_bottom {
    padding: 32px 64px;
}

.buy_top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy_middle {
    background-color: white;
    color: #6415FF;
    border-radius: 9999px;
    border: none;
    padding: 12px 32px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.buy_bottom {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing_buy {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 16px 32px;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 300ms ease;
}

.pricing_buy:hover {
    transform: translateY(-4%);
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
    filter: brightness(90%);
}

.buy_middle:hover {
    filter: brightness(90%);
    transition: all 300ms ease;
}

.choice_top-middle, 
.choice_price-middle, 
.rate_middle, 
.middle_title, 
.middle_para {
    color: white !important;
}    


/* TESTIMONIALS */

.testimonials_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonials_img {
    width: 50%;
}

.testimonials_container-right {
    padding-left: 64px;
}

.stars {
    display: flex;
    margin-top: 40px;
}

.star {
    font-size: 18px;
    margin-right: 4px;
    --tw-text-opacity: 1;
    color: rgba(246,173,85,var(--tw-text-opacity));
}

.test__description--comment {
    margin-top: 16px;
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.test__review {
    margin-bottom: 40px;
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(74,85,104,var(--tw-text-opacity));
}

.test__people {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test__person {
    display: flex;
}

.person {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    vertical-align: middle;
}

.test__person--name {
    text-align: left;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person__name {
    font-size: 20px;
    color: #243E63;
}

.person__title {
    padding: 0;
    margin: 0;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
}

.test__people--arrows {
    display: flex;
    height: 100%;
}

.left__arrow--button, 
.right__arrow--button {
    margin-left: 12px;
    margin-right: 12px;
    padding: 16px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(237,242,247,var(--tw-bg-opacity));
    color: #6415ff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    transition: all 300ms ease;
}

.left__arrow--button:hover, 
.right__arrow--button:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229,234,239,var(--tw-bg-opacity));
    transition: all 300ms ease;
}

.divider {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0 solid #e5e7eb;
    border-right-width: 1px;
}


/* FAQS */

.faqs_container {
    padding: 80px 0;
}

.faqs_lists {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 56rem;
}

.faqs_list {
    transition-property: color, fill, stroke;
    cursor: pointer;
    user-select: none;
    margin-top: 1.25rem;
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(45,55,72,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(237,242,247,var(--tw-bg-opacity));
    transition-duration: 300ms;
}

.faqs_list-question {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.list_question {
    font-size: 1.25rem;
    font-weight: 600;
}

.list_button {
    transition-property: color, fill, stroke;
    margin-left: 0.5rem;
    transition-duration: 300ms;
}

.faqs_list-answer {
    opacity: 0;
    height: 0px;
    margin-top: 0px;
}

.faqs_list:hover {
    background-color: rgba(229,234,239,var(--tw-bg-opacity));
    transition: all 500ms ease;
}

.faqs_list:hover .faqs_list-answer {
    opacity: 1;
    height: auto;
    margin-top: 16px;
}

.faqs_list:hover .feather-chevron-down {
    display: none;
}

/* PREFOOTER */

#prefooter {
    padding: 80px 0;
}

.prefooter_setup-wrapper {
    padding: 96px 0;
    background-color: #6415FF;
    border-radius: 8px;
    width: 100%;
}

.prefooter_setup {
    display: flex;
    flex-direction: row;
    padding: 0 32px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1024px;
}

.prefooter_text {
    font-size: 1.875rem;
    font-weight: 700;
    color: white;
    max-width: 30rem;
}

.prefooter_buttons {
    display: flex;
}

.prefooter_button {
    margin-top: 0px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 24px;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 20px 40px;
    border-width: 1px;
    font-weight: 700;
}

.get-started {
    background-color: #f56565;
    margin-right: 32px;
    transition: all 300ms ease;
}

.get-started:hover {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
    filter: brightness(90%);
    background-color: rgb(199, 48, 48);
    transition: all 300ms ease;
}

.contact-us {
    background-color: #6415FF;
    border: 1px solid white;
    transition: all 300ms ease;
}

.contact-us:hover {
    filter: brightness(99%);
    background-color: #fff;
    color: #6415ff;
    transition: all 300ms ease;
}

/* FOOTER */

#footer {
    padding: 80px 0 0 0;
}

.footer_container {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    margin-bottom: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 5rem 2rem;
}

.footer_wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: -3rem;
}

.footer_links {
    color: #fff;
    text-decoration: 2px underline transparent;
    transition: all 300ms ease;
    text-underline-offset: 6px;
}

.footer_links:hover {
    text-decoration: 2px underline white;
    transition: all 300ms ease;
    text-underline-offset: 6px;
}

.footer_section {
    margin-top: 3rem;
}

.footer_section-title {
    font-size: inherit;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.footer_list {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
}

.footer_list-items {
    margin-top: 12px;

}

.footer_middle {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0 solid #e5e7eb;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(116,44,255,var(--tw-border-opacity));
    width: 100%;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_img {
    width: 32px;
    display: block;
}

.footer_text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.footer_icons {
    display: flex;
}

.footer_icons-links {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 9999px;
    background-color: white;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.footer_icons-links:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229,234,239,var(--tw-bg-opacity));
    transition: all 300ms ease;
}

.footer_icon {
    width: 16px;
    height: 16px;
}

.copyright {
    --tw-text-opacity: 1;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

@media (min-width: 1024px) {
    .quality_left {
        margin-right: 4rem;
    }

    .steps_right {
        margin-left: 4rem;
    }

    .pricing_container {
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
    }
}

@media (min-width: 768px) {
    .header_container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .values_column {
        align-items: flex-start;
        margin-right: 2rem;
    }

    .btn_menu {
        display: none;
    }
}

@media (min-width: 640px) {
    .header_description-input input {
        padding-right: 12rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .nav_links {
        display: none;
    }

    .header_container-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_description-left,
    .header_description-right {
        width: 100%;
        text-align: center;
    }

    .header_description-input {
        margin: 0 auto;
    }

    .features_list {
        align-items: center;
        width: 100%;
    }

    .service_container {
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .service_text {
        text-align: center;
        margin: 0%;
    }

    .quality_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quality_left,
    .quality_right {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .quality_img {
        margin-top: 24px;
    }

    .purple_box {
        width: 30%;
    }

    .steps_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .steps_left,
    .steps_right {
        width: 100%;
    }

    .step_list {
        display: flex;
        justify-content: center;
    }

    .step_description {
        text-align: left;
    }
    
    .values_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values_left,
    .values_right {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .column_description {
        text-align: left;
        padding: 0 12px;
    }

    .values_img {
        margin-top: 24px;
    }

    .pricing_choices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing_choice {
        margin: 24px;
    }

    .pricing_buy {
        width: 100%;
    }

    .testimonials_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .testimonials_container-right,
    .testimonials_img {
        width: 100%;
    }

    .testimonials_container-right {
        padding-left: 0%;
    }

    .stars {
        display: flex;
        justify-content: center;
    }

    .prefooter_setup {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .prefooter_text {
        margin-bottom: 40px;
        font-size: 26px;
    }

    .footer_top {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_section {
        width: 25%;
    }

    .footer_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_logo,
    .copyright,
    .footer_icons {
        margin-bottom: 24px;
    }

    .copyright {
        font-size: 14px;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 500px) {
    .header_description-h1 {
        font-size: 32px;
    }

    .header_description-para { 
        font-size: 16px;
    }

    .header_description-left {
        margin: 0 24px;
    }

    .purple_box {
        width: 40%;
    }

    .header_description-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input_email {
        width: 80%;
    }

    .input_btn {
        margin-left: 0%;
        width: 80%;
    }

    .features_list {
        align-items: center;
        width: 100%;
    }

    .service_container {
        width: 100%;
    }

    .values_two-columns {
        display: flex;
        flex-direction: column;
    }

    .values_column {
        align-items: center;
    }

    .column_description {
        padding: 0%;
        text-align: center;
    }
    
    .choice_bottom {
        padding: 24px;
    }

    .pricing_buy {
        width: 60%;
    }

    .test__person {
        margin-bottom: 24px;
    }

    .test__people {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .prefooter_text {
        margin-top: -60px;
    }

    .prefooter_buttons {
        margin-bottom: -60px;
        display: flex;
        flex-direction: column;
}
    .prefooter_button {
        width: 100%;
    }

    .get-started {
        margin-bottom: 24px;
    }

    .footer_section {
        width: 40%;
    }
}

@media (max-width: 890px) {
    .nav_link {
        display: none;
    }

    .btn_menu {
        display: block;
    }
}