@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 300ms ease;
}

button {
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0 0;
    letter-spacing: 0.025em;
}

.nav_links {
    font-weight: 600;
    font-size: 14px;
}

.nav_link {
    margin: 0 24px;
    color: #243e63;
}

.nav_link:hover:not(:last-child) {
    text-decoration: 2px underline;
    color: #6415ff;
    transition: all ease;
    tab-size: 4;
    text-underline-offset: 6px;
}

.nav_link-login {
    margin-left: 48px;
}

.nav_link-btn {
    margin: 0;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.nav_link-btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.nav_link-img {
    width: 40px;
    margin-right: 12px;
}

.nav_logo-link {
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
    padding: 0 0 4px 0;
    display: flex;
    align-items: center;
    color: #243e63;
}

/* LANDING */

.header_container-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.header_container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.header_description-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header_description-right {
    width: 60%;
}

.description_right-img {
    width: 100%;
}

.header_description-h1 {
    font-size: 48px;
    font-weight: 700;
}

.header_description-para { 
    margin: 32px 0;
}

.header_description-input {
    display: flex;
    width: 85%;
    margin-right: auto;
}

.input_email {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 9999px;
    border-width: 1px;
    width: 100%;
    font-weight: 500;
    font-size: 100%;
}

.input_email:hover {
    border: 2px solid rgb(179, 175, 175);
    transition: all 300ms ease;
}

.input_btn {
    font-weight: 500;
    font-size: 100%;
    margin: 8px 0;
    margin-left: -160px;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.input_btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

.header_description-customers {
    margin: 80px 0 0 0;
    font-size: 12px;
}

.customers_logo {
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.customers_text {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}

/* FEATURES */

.features_container {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.features_h5 {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

.features_h2 {
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 16px;
}

.features_para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
    margin: 0 auto;
}

.features_list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.service_container {
    padding: 32px 8px;
    display: flex;
    width: calc(100%/3);
}

.service_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0 0 16px;
}

.service_img {
    font-size: 24px;
    padding: 1.25rem;
    height: 66px;
    width: 66px;
    border-radius: 9999%;
    border: 1px solid lightgray;
    flex-shrink: 0;
    color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 16px;
    width: 80%;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
    margin-bottom: 16px;
}

/* QUALITY WORK*/

.quality_container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.quality_left {
    margin-top: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality_right {
    width: 50%;
}

.quality_img {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.quality_h5 {
        letter-spacing: 0.1em;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 16px;
}

.quality_para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

.quality_btn {
    font-weight: 700;
    font-size: 14px;
    width: 25%;
    margin-top: 32px;
    padding: 12px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
    display: inline-block;
}

.quality_btn:hover {
    background-color: #330099;
    transition: all 300ms ease;
}

@media (min-width: 1024px) {
    .quality_left {
        margin-right: 4rem;
    }
}